.container {
    padding: 40px 15px;
    max-width: 557px;
    margin: 0 auto;
    }
    
.hidden {
    font-size: 0;
    color: transparent;
}
    
.openNumberCard {
    font-size: 50px;
    color: white;
}

.card {
    padding: 0;
    width: 100px;
    height: 149px;
    margin: 10px;
    background-image: url(../download.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.btnNewGame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.winCard {
    padding: 0;
    width: 100px;
    height: 149px;
    margin: 10px;
    background-image: url(../download.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    border: 3px solid green;
}
